.contacts {
  margin: 0 auto;
  padding-right: 15px;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 90px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;

  @include mobile {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    padding: 0 20px;
    row-gap: 0;
  }
}

.contacts a {
  @include font(400);

  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    justify-self: center;
    margin-right: -5px;
    width: fit-content;
  }
}

.contacts a:hover,
.contacts a:focus {
  opacity: 0.7;
  color: rgba(0, 0, 0, 1);
}

.contacts a:active {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

.contacts a:not(:last-child) {
  @include mobile {
    margin-bottom: 23px;
  }
}

.contacts__phone {
  @include mobile {
    margin-left: -13px;
  }
}

.contacts svg {
  margin-right: 15px;
  align-self: center;
}
