.feedback {
  padding-top: 4px;

  @include tablet {
    padding-top: 70px;
    margin: 0 auto;
    width: 41.8vw;
  }

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    max-width: 321px;
  }
}

.feedback h2 {
  @include font(600);

  margin: 0 0 20px 0;
  padding: 0;
  font-size: 17px;
  line-height: 28px;
  color: $text-color-light;
  letter-spacing: -0.005em;
  text-align: center;

  @include tablet {
    margin-bottom: 30px;
    font-size: 18px;
    color: $text-color-darkest;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.feedback input {
  appearance: none;
  margin-bottom: 20px;
  padding: 13px 28px 9px 28px;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: $text-color-darken;
  background-color: $main-background-color;
  border: 1px solid #c9ccd4;

  @include tablet {
    padding: 11px 21px 11px 21px;
  }

  @include mobile {
    padding: 13px 26px 9px 26px;
  }
}

.feedback input:hover {
  background-color: #e3e3e4;
  cursor: text;

  @include tablet {
    border-color: #68686a;
  }
}

.feedback input:focus {
  background-color: $main-background-color;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1) inset;
}

.feedback input::-webkit-outer-spin-button,
.feedback input::-webkit-inner-spin-button {
  appearance: none;
}

.feedback input::placeholder {
  @include font(400);

  font-size: 15px;
  line-height: 24px;
  color: $text-color-darken;
  opacity: 0.5;
}

.feedback__name input {
  border-radius: 4px;
}

.feedback__phone input {
  border-radius: 6px;
}

.feedback button {
  @include font(600);

  cursor: pointer;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: $special-contrast-color;
  font-size: 15px;
  line-height: 21px;
  color: $text-color-darkest;
}

.feedback button:hover,
.feedback button:focus {
  background-color: $special-contrast-color-hover;
}

.feedback button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;

  @include tablet {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1) inset;
  }
}

.feedback button:active {
  background-color: $special-contrast-color-active;
}
