.site-nav__button {
  display: none;
  cursor: pointer;

  @include tablet {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $special-contrast-color;
  }
}

.site-nav__button--nojs {
  display: none;
}

.site-nav__button--open {
  @include tablet {
    display: block;
    background-color: transparent;

    .site-nav__icon-menu {
      fill: none;
    }

    .site-nav__icon-cross {
      stroke: $cross-icon-color;
    }
  }
}

.site-nav__button--open:hover .site-nav__icon-cross,
.site-nav__button--open:focus .site-nav__icon-cross {
  stroke: $cross-icon-color-hover;
}

.site-nav__button--open:active .site-nav__icon-cross {
  stroke: $cross-icon-color-active;
}

.site-nav__button--close {
  @include tablet {
    display: block;

    .site-nav__icon-menu {
      fill: $menu-icon-color;
    }

    .site-nav__icon-cross {
      stroke: none;
    }

    &:hover,
    &:focus {
      background-color: $special-contrast-color-hover;
    }

    &:active {
      background-color: $special-contrast-color-active;
    }
  }
}

.site-nav__list {
  margin: 0;
  padding: 0 13px 9px 13px;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, max-content);
  column-gap: 20px;
  justify-content: space-between;
  position: relative;
  color: $text-color-light;

  @include tablet {
    padding: 0;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 30px;
    column-gap: 0;
  }
}

.site-nav__list::before {
  content: "";
  width: calc(100% - 6px);
  height: 1px;
  background-color: $main-background-color;
  opacity: 0.2;
  position: absolute;
  left: 3px;
  bottom: 0;
}

.site-nav__list li {
  max-width: 195px;

  @include tablet {
    max-width: none;
    width: 100%;
  }
}

.site-nav__list a {
  @include font(300);

  display: block;
  padding: 0 10px;
  font-size: 16px;
  line-height: 32px;
  color: inherit;
  letter-spacing: -0.005em;
  opacity: 0.7;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }

  @include tablet {
    font-weight: 400;
    opacity: 1;
    padding: 16px 50px 16px 16px;
    letter-spacing: normal;
    font-size: 20px;
    line-height: 28px;
    color: $text-color-menu;
    background-color: $menu-button-color;

    &::before {
      content: "";
      border: solid rgba(44, 46, 63, 0.5);
      border-width: 0 2px 2px 0;
      display: block;
      padding: 3px;
      position: absolute;
      right: 25px;
      top: calc(50%);
      transform: rotate(-45deg) translateY(-50%);
    }

    &:hover,
    &:focus {
      background-color: $menu-button-color-hover;
    }

    &:active {
      background-color: $menu-button-color-active;
    }
  }
}

.site-nav--close .site-nav__list {
  @include tablet {
    display: none;
    user-select: none;
  }
}

.site-nav--open {
  @include tablet {
    visibility: visible;
    background-color: $main-background-color;
    padding: 100px 0 138px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    overflow-y: auto;
  }
}

.site-nav--nojs {
  @include tablet {
    background-color: $main-background-color;
    padding: 100px 0 138px 0;
  }
}
