$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$max-desktop-width: 1920px;

// colors
$main-background-color: #ffffff;
$background-darken-color: #131314;
$background-grey-color: #f6f7f9;
$menu-border-color: 1px solid rgba(255, 255, 255, 0.2);
$menu-button-color:#f6f6f6;
$menu-button-color-hover:#ede4e4;
$menu-button-color-active:#d6c3c3;
$text-color-light: #ffffff;
$text-color-darken: #1c1c1c;
$text-color-darkest:#000000;
$text-color-darkest-opacity: rgba(0, 0, 0, 0.7);
$text-color-menu: #48494d;
$special-contrast-color: #0ad9c6;
$special-contrast-color-hover: #09b1a0;
$special-contrast-color-active: #0b8f82;
$cross-icon-color: rgba(20, 21, 23, 0.5);
$cross-icon-color-hover: rgb(0, 0, 0);
$cross-icon-color-active: rgba(20, 21, 23, 0.6);
$menu-icon-color: #000000;
