$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$max-desktop-width: 1920px;

// colors
$main-background-color: #ffffff;
$background-darken-color: #131314;
$menu-border-color: 1px solid rgba(255, 255, 255, 0.2);
$menu-button-color:#f6f6f6;
$text-color-light: #ffffff;
$text-color-darken: #1c1c1c;
$text-color-darkest:#000000;
$text-color-darkest-opacity: rgba(0, 0, 0, 0.7);
$text-color-menu: #48494d;
$special-contrast-color: #0ad9c6;
$cross-icon-color: rgba(20, 21, 23, 0.2);
$menu-icon-color: #000000;
